parameters:
	ignoreErrors:
		- '#with a nullable type declaration.#'
		- '#with null as default value.#'
	ergebnis:
		classesAllowedToBeExtended:
			- Mammatus\LifeCycleEvents\Promise\AbstractPromise
			- Mammatus\Tests\LifeCycleEvents\Promise\AbstractPromiseTest

includes:
	- vendor/wyrihaximus/phpstan-rules-wrapper/wrapper.neon
